.footer {
  margin-top: 10vmax;
  padding: 2vmax;
  background-color: rgb(34, 33, 33);
  color: white;
  display: flex;
  align-items: center;
}

.footer_left {
  width: 20%;
  display: flex;

  flex-direction: column;
  align-items: center;
}
.footer_left > h4 {
  font-family: "Roboto";
  font-size: 1vmax;
}
.footer_left > p {
  text-align: center;
  font-size: 1.2vmax;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.footer_left > img {
  width: 10vmax;
  margin: 1vmax;
  cursor: pointer;
}

.footer_mid {
  width: 60%;

  text-align: center;
}

.footer_mid > h1 {
  font-size: 4vmax;
  font-family: "Roboto";
  color:rgba(170, 7, 69, 0.979);
}

.footer_mid > p {
  max-width: 60%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 1vmax auto;
}

.footer_right {
  width: 20%;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_right > h4 {
  font-family: "Roboto";
  font-size: 1.4vmax;
  text-decoration: underline;
}
.footer_right > a {
  text-decoration: none;
  font-size: 1.3vmax;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  transition: all 0.5s;
  margin: 0.5vmax;
}

.footer_right > a:hover {
  color: #eb4034;
}
